<!-- <img  class="bg-primary" src="//opgg-static.akamaized.net/logo/20210726052915.87be48acb5b84220b84e73b16c3e4c82.png" alt="" width="200px"><br> -->
{% extends "base.html" %}
{% block additional_head %}
    <style>
        th, td {
            text-align: center;
        }
    </style>
    <script>
        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();   
        });
    </script>
{% endblock %}
{% block subtitle %}
<strong>OP.GG {{kor_lane}} {{kor_champion}} 통계</strong>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-5">
        <table class="row table-borderless table-sm">
            <tr>
                <td rowspan="6">
                    <img src="{{data_dict['img']}}" alt="{{kor_champion}}" width="120">
                </td>
            <tr>
                <td>챔피언 티어 : </td>
                <td>{{data_dict['tier']}}티어</td>
            </tr>
                <td>{{kor_lane}} 승률 순위 : </td>
                <td>{{data_dict['win_rank'][0]}}위 / {{data_dict['win_rank'][1]}}  ({{data_dict['win_rate']}})</td>
            </tr>
            <tr>
                <td>{{kor_lane}} 픽률 순위 : </td>
                <td>{{data_dict['pick_rank'][0]}}위 / {{data_dict['pick_rank'][1]}} ({{data_dict['pick_rate']}})</td>
            </tr>
        </table>
    
    </div>
    <div class="col-2"></div>
    <div class="col-4">
        <table class="row table-borderless table-sm">
            <tr>
                <td>
                    카운터 챔피언
                </td>
                <td>
                    상대하기 쉬운 챔피언
                </td>
            </tr>
            {% for i in range(3) %}
            <tr>
                <td><img src="http://ddragon.leagueoflegends.com/cdn/{{version}}/img/champion/{{data_dict['counters'][i]}}.png" alt="{{data_dict['counters'][i]}}" width="30">
                    승률 : {{data_dict['counters_rate'][i]}}</td>
                <td><img src="http://ddragon.leagueoflegends.com/cdn/{{version}}/img/champion/{{data_dict['counters'][i+3]}}.png" alt="{{data_dict['counters'][i+3]}}" width="30">
                    승률 : {{data_dict['counters_rate'][i+3]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-11">
        <table class="table table-bordered table-sm">
            <thead>
                <th class="col-6">추천 소환사 주문</th>
                <th class="col-3">픽률<small> (표본 수)</small></th>
                <th class="col-3">승률</td>
            </thead>
            <tr>
                <td><img src="http://ddragon.leagueoflegends.com/cdn/{{version}}/img/spell/{{data_dict['trend_spell1'][0]}}.png" alt="{{data_dict['trend_spell1'][0]}}" width="30">
                    <img src="http://ddragon.leagueoflegends.com/cdn/{{version}}/img/spell/{{data_dict['trend_spell1'][1]}}.png" alt="{{data_dict['trend_spell1'][1]}}" width="30">
                </td>
                <td>
                    {{data_dict['trend_spell1'][2]}}
                    <small>({{data_dict['trend_spell1'][3]}})</small>
                </td>
                <td>
                    {{data_dict['trend_spell1'][4]}}
                </td>
            </tr>
            <tr>
                <td><img src="http://ddragon.leagueoflegends.com/cdn/{{version}}/img/spell/{{data_dict['trend_spell2'][0]}}.png" alt="{{data_dict['trend_spell2'][0]}}" width="30">
                    <img src="http://ddragon.leagueoflegends.com/cdn/{{version}}/img/spell/{{data_dict['trend_spell2'][1]}}.png" alt="{{data_dict['trend_spell2'][1]}}" width="30">
                </td>
                <td>
                    {{data_dict['trend_spell2'][2]}}
                    <small>({{data_dict['trend_spell2'][3]}})</small>
                </td>
                <td>
                    {{data_dict['trend_spell2'][4]}}
                </td>
            </tr>
        </table>
    </div>
    <div class="col-1"></div>
    <div class="col-11">
        <table class="table table-bordered table-sm">
            <thead>
                <th class="col-6">추천 스킬트리</th>
                <th class="col-3">픽률<small> (표본 수)</small></th>
                <th class="col-3">승률</td>
            </thead>
            <tr>
                <td>
                    {{data_dict['trend_skill'][0][0] | upper}} -> {{data_dict['trend_skill'][0][1] | upper}} -> {{data_dict['trend_skill'][0][2] | upper}}
                </td>
                <td>
                    {{data_dict['trend_skill'][1]}}
                    <small>({{data_dict['trend_skill'][2]}})</small>
                </td>
                <td>
                    {{data_dict['trend_skill'][3]}}
                </td>
            </tr>
        </table>
    </div>
    <div class="col-1"></div>
    <div class="col-11">
        <table class="table table-bordered table-sm">
            <th class="col-6" colspan="2">추천 아이템 빌드</th>
            <th class="col-3">픽률<small> (표본 수)</small></th>
            <th class="col-3">승률</td>
            {% for i in range(7) %}
            <tr>
                {% if i == 0 %}
                <td rowspan="2">시작 아이템</td>
                {% elif i == 2 %}
                <td rowspan="5">추천 빌드</td>
                {% endif %}
                <td>
                    {% for k in data_dict['trend_items'][i][0]%}
                    <img src="http://ddragon.leagueoflegends.com/cdn/{{version}}/img/item/{{k}}.png" alt="k" width="30">
                    {% endfor %}
                </td>
                <td>
                    {{data_dict['trend_items'][i][1]}}
                    <small>({{data_dict['trend_items'][i][2]}})</small>
                </td>
                <td>
                    {{data_dict['trend_items'][i][3]}}
                </td>
            </tr>
            {% endfor %}
            


        </table>

    </div>
    <div class="col-1"></div>
</div>

</div>



{% endblock %}