<!-- <img  class="bg-primary" src="//opgg-static.akamaized.net/logo/20210726052915.87be48acb5b84220b84e73b16c3e4c82.png" alt="" width="200px"><br> -->
{% extends "base.html" %}
{% block additional_head %}
    <style>
        th, td {
            text-align: center;
        }
    </style>
    <script>
        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();   
        });
    </script>
{% endblock %}
{% block subtitle %}
<strong>OP.GG {{kor_lane}} {{kor_champion}} 통계</strong>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-10">
        <table class="row table-borderless table-sm">
            <tr>
                <td rowspan="6">
                    <img src="http://ddragon.leagueoflegends.com/cdn/{{version}}/img/champion/{{champion}}.png" alt="">
                </td>
            <tr>
                <td>챔피언 티어</td>
                <td>{{data_dict['tier']}}티어</td>
            </tr>
            <tr>
                <td>승률</td>
                <td> {{data_dict['win_rate']}}</td>
            </tr>
            <tr>
                <td>{{kor_lane}} 승률 순위</td>
                <td>{{data_dict['win_rank']}}</td>
            </tr>
            <tr>
                <td>픽률</td>
                <td>{{data_dict['pick_rate']}}</td>
            </tr>
            <tr>
                <td>{{kor_lane}} 픽률 순위</td>
                <td>{{data_dict['pick_rank']}}</td>
            </tr>
        </table>

    </div>

</div>
    



{% endblock %}